[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-configurations = "*"
django-extensions = "*"
psycopg2-binary = "*"
django-hitcount = "*"

[requires]
python_version = "3.6"
