{% extends "base.html" %}

{% block main %}
    <div>
        <ul>
            {% for ad in object_list %}
                <li><a href="{% url 'detail_advertisement' ad.id %}">{{ ad.title }} - {{ ad.city.name }} ({{ ad.customer.full_name }})</a></li>
            {% endfor %}
        </ul>
    </div>
    {% if is_paginated %}
        <div>
            <span>
                {% if page_obj.has_previous %}
                    <a href="{% url 'list_advertisements' %}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span>
                    page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{% url 'list_advertisements' %}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock main %}